/*/*@charset "utf-8";
/* CSS Document */

body {
	
	background-color:#dbf0fa;
	
}

*{margin:0px;
padding:0px;
}

.CSSButton {
border: 1px solid #6A85B6;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.17, #BAC8E0), color-stop(0.89, #6A85B6) );
background: -moz-linear-gradient( center top, #BAC8E0 17%, #6A85B6 89% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAC8E0', endColorstr='#6A85B6');
background-color: #BAC8E0;
-moz-box-shadow: inset 1px 2px 2px -1px #FFFFFF;
-webkit-box-shadow: inset 1px 2px  2px -1px #FFFFFF;
box-shadow: inset 1px 2px  2px -1px #FFFFFF;
-moz-border-radius: 13px;
-webkit-border-radius: 13px;
border-radius: 13px;
text-shadow: 1px 1px 2px #000000;
font-weight: bold;
margin: 5px 5px;
padding: 5px 0px;
color: #FFFFFF;
letter-spacing: 1px;
font-family: 'Arial', sans-serif;
font-size: 17px;
width: 150px;
text-transform: capitalize;
text-align: center;
text-decoration: none;
cursor: pointer;
display: inline-block;
}
.CSSButton:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.17, #6A85B6), color-stop(0.89, #BAC8E0) );
background: -moz-linear-gradient( center top, #6A85B6 17%, #BAC8E0 89% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6A85B6', endColorstr='#BAC8E0');
background-color: #6A85B6;
}
.CSSButton:active {
position: relative;
top: 1px;
left: 0px;
}

